<div class="card px-6 py-6">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="right">
            <div class="my-2">
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
            </div>
        </ng-template>

        <ng-template pTemplate="left">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
            <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button> -->
        </ng-template>
    </p-toolbar>

    <!-- <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id"> -->
      <p-table #dt [value]="filterApplied ? filteredPotencias : potencias" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [(selection)]="selectedPotencia" selectionMode="multiple" [rowHover]="true" dataKey="Codigo">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Lista de Potencias Nominales</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt,$event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr >
                <th style="width: 5rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="Codigo">Código <p-sortIcon field="Codigo"></p-sortIcon></th>
                <th pSortableColumn="Descripcion">Descripción <p-sortIcon field="Descripcion"></p-sortIcon></th>
                <th pSortableColumn="Valor">Valor <p-sortIcon field="Valor"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-potencia>
            <tr>
                <td>
                  <p-tableCheckbox [value]="potencia"></p-tableCheckbox>
                </td>
                <td style="width:14%; min-width:10rem;"><span class="p-column-title">Código</span>
                    {{ potencia.Codigo }}
                </td>
                <td style="width:14%; min-width:10rem;"><span class="p-column-title">Descripción</span>
                    {{potencia.Descripcion}}
                </td>
                <td style="width:14%; min-width:8rem;"><span class="p-column-title">Valor</span>
                    {{potencia.Valor}}
                </td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(potencia)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(potencia)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="trafoDialog" [style]="{width: '450px'}" [header]="( editFlag ?  'Editar':'Nuevo' ) + ' Transformador'" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
            <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
            <div class="formgrid grid">
              <div class="field col">
                <label for="codigo">Código</label>
                <input type="text" [disabled] = "editFlag ? true:false" pInputText id="codigo" [(ngModel)]="potencia.Codigo" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !potencia.Codigo}"/>
                <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !potencia.Codigo">Name is required.</small>
              </div>
              <div class="field col">
                <label for="valor">Valor</label>
                <input type="text"  pInputText id="valor" [(ngModel)]="potencia.Valor" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !potencia.Valor}"/>
                <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !potencia.Valor">Name is required.</small>
              </div>
            </div>
            <div class="field">
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" pInputTextarea [(ngModel)]="potencia.Descripcion" required rows="3" cols="20"></textarea>
            </div>                       
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
        </ng-template>
    </p-dialog>
</div>
