<div>
    <p-card  [style]="{width: '450px'}" [header]="( editFlag ?  'Editar' : 'Nuevo' ) + ' Potencia'" >
        <ng-template pTemplate="content">
            <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
            <div class="formgrid grid">
              <div class="field col">
                <label for="Codigo">Código</label>
                <input type="text" [disabled] = "editFlag ? true:false" pInputText id="Codigo" [(ngModel)]="this.potencia.Codigo" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !potencia.Codigo}"/>
                <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !potencia.Codigo">Name is required.</small>
              </div>
              <div class="field col">
                <label for="valor">Valor</label>
                <input type="text"  pInputText id="Valor" [(ngModel)]="potencia.Valor" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !potencia.Valor}"/>
                <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !potencia.Valor">Name is required.</small>
              </div>
            </div>
            <div class="field">
                <label for="descripcion">Descripción</label>
                <textarea id="Descripcion" pInputTextarea [(ngModel)]="potencia.Descripcion" required rows="3" cols="20"></textarea>
            </div>                       
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog1()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
        </ng-template>
    </p-card>
</div>
