<div>
    <p-card  [style]="{width: '450px'}" [header]="( editFlag ?  'Editar' : 'Nuevo' )" >
        <ng-template pTemplate="content">
            <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
            <div class="formgrid grid">
              <div class="field col">
                  <label for="CodCR">Código</label>
                  <input type="text" [disabled] = "editFlag ? true:false" pInputText id="CodCR" [(ngModel)]="this.grupo.Codigo" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !grupo.Codigo}"/>
                  <br>
                  <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !this.grupo.Codigo">El código es obligatorio.</small>
              </div>
              
              <div class="field col">
                <label class="mb-3">Estado</label>
                    <div class="flex align-items-center">                          
                        <p-radioButton id="category1" name="category" value="A" [(ngModel)]="grupo.Estado"></p-radioButton>
                        <label for="category1" class="form-check-label">Activo</label>

                        <p-radioButton id="category2" name="category" value="I" [(ngModel)]="grupo.Estado"></p-radioButton>
                        <label for="category2" class="form-check-label">Inactivo</label>
                    </div>
              </div>
            </div>
            <div class="field col">
                <label for="Descripcion">Descripcion</label>
                <br>
                <textarea id="Descripcion" pInputTextarea [(ngModel)]="grupo.Descripcion" required rows="3" cols="55"></textarea>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog1()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
        </ng-template>
    </p-card>
</div>
